.footer{
    z-index: 1000;
}
.dierction{
    font-style: italic;
    color: #7ac400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titel{
    font-style: italic;
    color: #7ac400;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.shop{
    color: #008080 ;
}
}
.details{
   text-decoration: none;
   border-bottom: 1px solid #7ac400;
   color: #008080 ;
}

.link{
    color: rgb(116, 113, 113);
 }
.link:hover{
   color: #7ac400;
   text-decoration: none !important;
}
p{
    color: rgb(116, 113, 113);
}